h1 {
  font-style: italic;
  letter-spacing: 2px;
  padding: 20px;
  color: rgb(50, 66, 139) !important;
}

.container {
  height: 80vh;
  display: flex;
	justify-content: center;
  align-items: center;
}

.container_axis {
  width: 80vw;
  height: 20px;
  background-color: rgb(50, 66, 139);
  color: white;
  padding: 5px;
  border-radius: 3px;
  -webkit-box-shadow: 0px -12px 20px -4px rgba(50, 66, 139, 0.5);
	-moz-box-shadow: 0px -12px 20px -4px rgba(50, 66, 139, 0.5);
	box-shadow: 0px -12px 20px -4px rgba(50, 66, 139, 0.5);
  display: flex;
  align-items: center;
}

.container_axis--circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(139, 50, 95);
}
